.widget{
    float: left;
    width: 100%;
}
/* Widget Default Title Css Start*/
.widget_default_title{
    float: left;
    width: 100%;
    font-size: 18px;
    margin: 0 0 24px;
    font-weight: bold;
    position: relative;
    line-height: normal;
    text-transform: uppercase;
}
/* Widget Title Css Start*/
.widget-title{
    float: left;
    width: auto;
    clear: both;
    font-size: 20px;
    text-align: left;
    margin: 0 0 30px;
    font-weight: bold;
    position: relative;
}
.bs-footer .widget-title{
    color: #fff;
    width: 100%;
    font-size: 14px;
}
/*SideBar Widget Title Start*/
.sidebar .widget{
    margin: 0 0 40px;
    padding: 0 0 40px;
    border-bottom:2px dashed #dfe5ea;
}
.sidebar .widget-title{
    margin: 0 0 25px;
}
.sidebar .widget-title::before{
    left: 100%;
    top:50%;
    height: 4px;
    width: 65px;
    content: "";
    margin: 0 0 0 15px;
    position: absolute;
    transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
/*SideBar Widget Title End*/
/*Search Widget Start*/
.sidebar .widget .bs-input:last-child{
    margin: 0;
}
.sidebar .bs-input .search_icon::before{
    content: "\f002";
}
/*Search Widget End*/
/*Newsletter Widget Start*/
.widget-newsletter .btn1{
    float: right;
    font-size: 14px;
    padding-right:30px; 
    padding-left:30px; 
}
/*Newsletter Widget End*/
.tags{
    float: left;
    width: 100%;
    margin: 0 0 0 -5px;
}
.tags a{
    float: left;
    width: auto;
    font-size:12px;
    padding: 7px 15px;
    margin: 0 0 5px 5px;
    line-height: normal;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #f3f3f3; 
    font-family: 'Raleway', sans-serif;
}
.tags a:hover{
    color: #fff;
}
/*Latest Post Widget Start*/
.latest-post-wrap{
    float: left;
    width: 100%;
}
.latest-post-thumb{
    float: left;
    width: 100%;
    margin: 0 0 30px;
}
.latest-post-thumb figure{
    width: 100px;
    height: 100px;
    margin: 0 20px 0 0;
}
.latest-post-thumb .title{
    font-size: 14px;
    margin: 0 0 4px;
    text-transform: capitalize;
}
.latest-post-thumb p{
    font-size:14px;
    margin: 0; 
}
.latest-post-wrap .latest-post-thumb:last-child{
    margin: 0;
}
.sidebar .widget_categories .widget-title{
    margin: 0 0 15px;
}
/*Wordpress Default Widget*/
.widget_rss,
.widget_meta,
.widget_pages,
.widget_archive,
.widget_nav_menu,
.widget_categories,
.widget_recent_comments,
.widget_recent_entries {
    float: left;
    width: 100%;
}
.widget_rss ul,
.widget_meta ul,
.widget_pages ul,
.widget_archive ul,
.widget_nav_menu ul,
.widget_categories ul,
.widget_recent_comments ul,
.widget_recent_entries ul {
    margin: 0;
    padding: 0;
    float: left;
    width: 100%;
    list-style: none;
}
.widget_rss ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_categories ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li {
    float: left;
    width: 100%;
    text-align: right;
    padding: 5px 0 0px;
    border-width: 1px 0 0px;
    border-style: solid;
    border-color: #e6e6e6;
}
.widget_categories ul li{
    border: none;
}
.widget_rss > ul > li:first-child,
.widget_meta > ul > li:first-child,
.widget_pages > ul > li:first-child,
.widget_archive > ul > li:first-child,
.widget_nav_menu > ul > li:first-child,
.widget_recent_comments > ul > li:first-child,
.widget_recent_entries > ul > li:first-child {
    border-width: 0;
}
.widget_rss ul li a,
.widget_meta ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_nav_menu ul li a,
.widget_categories ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a {
    float: left;
    width: auto;
    font-size: 14px;
    margin: 0 0 5px;
    text-align: left;
    position: relative;
    font-weight: normal;
    line-height: normal;
    text-transform: capitalize;
}
.widget_rss ul li,
.widget_meta ul li,
.widget_pages ul li,
.widget_archive ul li,
.widget_nav_menu ul li,
.widget_categories ul li,
.widget_recent_comments ul li,
.widget_recent_entries ul li,
.widget_rss ul li a,
.widget_meta ul li a,
.widget_pages ul li a,
.widget_archive ul li a,
.widget_nav_menu ul li a,
.widget_categories ul li a,
.widget_recent_comments ul li a,
.widget_recent_entries ul li a {
    color: #333;
}
.widget_categories ul li a:before {
    content: "\f105";
    margin-right: 10px;
    color: currentColor;
    display: inline-block;
    font-family: "FontAwesome";
}
.widget_rss ul .children,
.widget_meta ul .children,
.widget_pages ul .children,
.widget_archive ul .children,
.widget_nav_menu ul .children,
.widget_categories ul .children,
.widget_recent_comments ul .children,
.widget_recent_entries ul .children {
    padding-left: 15px;
    margin: 5px 0 0
}
.widget_archive li:hover,
.widget_categories li:hover {
    padding-left: 5px;
    padding-right: 5px;
}
.widget_archive li:hover,
.widget_archive li:hover a,
.widget_categories li:hover,
.widget_categories li:hover a {
    color: #fff;
}































